.conteudo-api {
    text-decoration: none;
    text-transform: none;
    font-size: 16px;
    font-weight: 400;
    font-family: Arial, sans-serif;
    margin: 4px;
    word-spacing: 3px;
    letter-spacing: 1px;
}