@font-face {
    font-family: NeueHaas;
    src: url(/src/fonts/NeueHaasDisplayMediu.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: NeueHaas;
    background-color: rgb(221, 221, 221);

}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px
}

::-webkit-scrollbar {
    width: 8px;
}

h1{
    margin-top: 4rem;
    margin-bottom: 3rem;
    font-weight: bolder;
    font-size: x-large;
    font-family: NeueHaas;
}


.texto-historia {
    max-width: 55rem;
    text-align: left;
    line-height: 1.5rem;
    margin-bottom: 0.5rem;
    font-family: NeueHaas;
}



span {
    color: rgb(2, 2, 168);
    border-bottom: 2.5px solid black;
}


.conteudo-video,
.conteudo-comemoracao {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

.container-video {
    margin-top: 2rem;
    margin-bottom: 5rem;
}