@font-face {
    font-family: NeueHaas;
    src: url(/src/fonts/NeueHaasDisplayMediu.ttf);
}

/* <==============HOME==============> */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: NeueHaas;
}

#home {
    height: 92vh;
    /* mask-image: linear-gradient(to bottom, #000 50%, rgba(0, 0, 0, 0.5) 90%); */
}

#home img {
    position: absolute;
    object-fit: cover;
    background-repeat: no-repeat;
    z-index: -1;
    height: 100vh;
    width: 100%;
}

h1,
h2 {
    color: #FFFFFF;
}

h1 {
    font-size: 4rem;
}

.topoHome {
    position: absolute;
    top: 20%;
    /* Centraliza verticalmente */
    left: 50%;
    /* Centraliza horizontalmente */
    transform: translate(-50%, -50%);
    /*Move a div de volta 50% do seu próprio tamanho em ambas as direções*/
}

.titulo {
    font-size: 24px;
    color: #FFFFFF;
    padding: 0 0 4px;
}

span {
    font-weight: 100;
    font-size: 14px;
    color: #FFFFFF;
}

.elementos {
    z-index: 1;
    display: flex;
    align-items: flex-start;
    gap: 5rem;
}

.botao {
    cursor: pointer;
    border: none;
    border-radius: 4px;
    padding: 10px 60px;
    background-color: #3E6AE1;
    transition: .3s;
}

.botao:hover {
    background-color: #2E5CA1;

}

.cards {
    display: flex;
    align-items: center;
    flex-direction: column;
    white-space: nowrap;
}

.content-end {
    position: absolute;
    top: 88%;
    /* Centraliza verticalmente */
    left: 50%;
    /* Centraliza horizontalmente */
    transform: translate(-50%, -50%);
    /*Move a div de volta 50% do seu próprio tamanho em ambas as direções*/
}

/* <===============SEGUNDA SESSÃO================> */

#design .topo {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 20%;
    /* Centraliza verticalmente */
    left: 50%;
    /* Centraliza horizontalmente */
    transform: translate(-50%, -50%);
}

.titulo1 {
    font-size: 28px;
    padding: 0 0 4px;
}

.titulo2 {
    font-size: 14px;
}

#design {
    width: 100%;
    height: 100vh;
    position: relative;
    /* background-color: #000;
    background: linear-gradient(to top, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 90%); */
}

#design img {
    position: absolute;
    object-fit: cover;
    background-repeat: no-repeat;
    z-index: -1;
    height: 100vh;
    width: 100%;

}

/* <====================TERCEIRA SESSÃO=====================> */

#interior .topo {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 12%;
    /* Centraliza verticalmente */
    left: 50%;
    /* Centraliza horizontalmente */
    transform: translate(-50%, -50%);
}

.titulo1 {
    font-size: 28px;
    padding: 0 0 4px;
}

.titulo2 {
    font-size: 14px;
}

#interior {
    width: 100%;
    height: 100vh;
    position: relative;
}

#interior img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: 50% 50%;
}


#design .topo {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 15%;
    /* Centraliza verticalmente */
    left: 50%;
    /* Centraliza horizontalmente */
    transform: translate(-50%, -50%);
}

/* <==============QUARTA SESSÃO==============> */

#motor .topo {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 20%;
    /* Centraliza verticalmente */
    left: 50%;
    /* Centraliza horizontalmente */
    transform: translate(-50%, -50%);
}

.titulo1 {
    font-size: 28px;
    padding: 0 0 4px;
}

.titulo2 {
    font-size: 14px;
}

#motor {
    width: 100%;
    height: 100vh;
    position: relative;
}

#motor img {
    position: absolute;
    object-fit: cover;
    background-repeat: no-repeat;
    z-index: -1;
    height: 100vh;
    width: 100%;
}