/* ====> Fontes dos h3 no dropdown<==== */

/* 1960 */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* 1970 */
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Nanum+Gothic&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* 1980 */
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Nanum+Gothic&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap');
/* 1990 */
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Nanum+Gothic&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Patrick+Hand&family=Space+Grotesk:wght@300..700&display=swap');
/* 2000 */


body {
    font-family: Arial, sans-serif;
}

.buttons{
    display: flex;
    gap: 10px;
}

.dropdown {
    position: relative;
    display: inline-block;
    
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 80vw; /* Largura mínima do menu */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content .car-item {
    display: inline-block;
    width: 200px;
    text-align: center;
    margin: 3%;
}

.dropdown-content .car-item img {
    width: 100%;
    height: auto;
}

.dropdown-content .buttons {
    margin-top: 10px;
}

.dropdown-content .buttons button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
}

.dropdown-content .buttons button:hover {
    background-color: #45a049;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.font-1960{
    font-family: "Noto Sans", sans-serif;
    font-weight: 500;
    font-size: 1rem;
}
.font-1970{
    font-family: "Lobster Two", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
}
.font-1980{
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
}
.font-1990{
    font-family: "Patrick Hand", cursive;
    font-weight: 500;
    font-style: normal;
    font-size: 1rem;
}
.font-2000{
    color: red;
    font-weight: 500;
    font-size: 1rem;
}
.font-2010{
    color: red;
    font-weight: 500;
    font-size: 1rem;
}
.font-2020{
    color: red;
    font-weight: 500;
    font-size: 1rem;
}
