* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#troca-idioma:hover {
    background-color: rgba(225, 225, 225, 0.2);
    border-radius: 4px;
    transition: 0.4s;
}

#svgLogin:hover {
    background-color: rgba(225, 225, 225, 0.2);
    border-radius: 4px;
    transition: 0.4s;
}

#troca-idioma {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 2rem;
    height: 2rem;
}

#svgLogin {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
}


@media screen and (min-width: 1366px) {
    /* HEADER  */

    #home-mobile {
        display: none;
    }

    .menu-navegacao>ul {
        display: inline-flex;
        gap: 5rem;
        font-weight: 100;
    }

    .menu-navegacao {
        z-index: 1;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        top: 0.5rem;
    }

    .menu-navegacao a {
        text-decoration: none;
        height: 100%;
        display: inline-flex;
        align-items: center;
        color: #000000;
        font-family: NeueHaas, sans-serif;
        font-size: 1rem;
    }

    .icones-menu button {
        border: none;
        background: none;
    }

    .icones-menu {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    .logo-menu {
        display: flex;
        align-items: center;
    }

    .nome-mustang {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .logo-menu a svg {
        width: 100px;
    }

    .nome-mustang img {
        width: 100px;
    }

    header {
        z-index: 2;
    }



    /* FOOTER  */

    .footer-design {
        background-color: #000;
    }

    .logo-conteiner {
        display: flex;
        justify-content: center;
    }

    .logo-conteiner>svg {
        margin-top: 40px;
    }

    .logo-conteiner>svg {
        margin-top: 40px;
    }

    .topico-contato {
        justify-content: space-around;
        display: flex;
        color: #F0F5F9;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        padding: 10px;
        gap: 20rem;
    }

    .developers {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .midia {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .topico-contato h3 {
        margin-bottom: 15px;
        color: white;
    }

    .copyright {
        color: #828282;
        display: flex;
        justify-content: center;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        padding-bottom: 1rem;
    }

    .comemoracao {
        padding: 5px;
    }

    .comemoracao:hover {
        background-color: rgba(225, 225, 225, 0.2);
        border-radius: 5px;
    }

    .sobre-nos {
        padding: 5px;
    }

    /* Erro de hover */
    .sobre-nos:hover {
        background-color: rgba(225, 225, 225, 0.2);
        border-radius: 5px;
    }

    #header {
        z-index: 2;
    }
}

@media screen and (max-width: 320px) {

    #home-mobile {
        background-color: aliceblue;
        padding: 5px;
        position: absolute;
        font-weight: 1000;
        font-size: 20px;
        border: solid 1px black;
        border-radius: 50%;
    }

    /* FOOTER  */

    .footer-design {
        width: 100%;
        background-color: #000;
    }

    .logo-conteiner {
        display: flex;
        justify-content: center;
    }

    .logo-conteiner>svg {
        margin-top: 15px;
    }

    .topico-contato {
        display: flex;
        justify-content: space-around;
        color: #F0F5F9;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        padding: 10px;
        gap: 20px;
    }

    .developers {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .midia {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .topico-contato h3 {
        margin-bottom: 15px;
        color: white;
    }

    .copyright {
        color: #828282;
        display: flex;
        justify-content: center;
        font-size: 12px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        padding-bottom: 5px;
    }

    .comemoracao {
        padding: 5px;
    }

    .comemoracao:hover {
        background-color: #eeeeee;
        border-radius: 5px;
    }

    .sobre-nos {
        padding: 5px;
    }
}

@media screen and (min-width: 1101px) and (max-width: 1365px) {



    /* HEADER  */

    #home-mobile {
        display: none;
    }


    .menu-navegacao>ul {
        display: inline-flex;
        gap: 5rem;
        font-weight: 100;
    }

    .menu-navegacao {
        z-index: 1;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        top: 0.5rem;
    }

    .menu-navegacao a {
        text-decoration: none;
        height: 100%;
        display: inline-flex;
        align-items: center;
        color: #000000;
        font-family: NeueHaas, sans-serif;
        font-size: 1rem;
    }

    .icones-menu button {
        border: none;
        background: none;
    }

    .icones-menu {
        display: inline-flex;
        gap: 10px;
    }

    .logo-menu {
        display: flex;
        align-items: center;
    }

    .nome-mustang {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .logo-menu a svg {
        width: 100px;
    }

    .nome-mustang img {
        width: 100px;
    }

    header {
        z-index: 2;
    }




    /* FOOTER  */

    .footer-design {
        background-color: #000;
    }

    .logo-conteiner {
        display: flex;
        justify-content: center;
    }

    .logo-conteiner>svg {
        margin-top: 40px;
    }

    .logo-conteiner>svg {
        margin-top: 40px;
    }

    .topico-contato {
        justify-content: space-around;
        display: flex;
        color: #F0F5F9;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        padding: 10px;
        gap: 20rem;
    }

    .developers {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .midia {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .topico-contato h3 {
        margin-bottom: 15px;
        color: white;
    }

    .copyright {
        color: #828282;
        display: flex;
        justify-content: center;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        padding-bottom: 1rem;
    }

    .comemoracao {
        padding: 5px;
    }

    .comemoracao:hover {
        background-color: #eeeeee;
        border-radius: 5px;
    }

    .sobre-nos {
        padding: 5px;
    }

    /* Erro de hover */
    .sobre-nos:hover {
        background-color: #eeeeee;
        border-radius: 5px;
    }

    #header {
        z-index: 2;
    }
}

@media screen and (min-width: 321px) and (max-width: 450px) {

    #home-mobile {
        background-color: aliceblue;
        padding: 5px;
        position: absolute;
        font-weight: 1000;
        font-size: 20px;
        border: solid 1px black;
        border-radius: 50%;
    }

    /* FOOTER  */

    .footer-design {
        width: 100%;
        background-color: #000;
    }

    .logo-conteiner {
        display: flex;
        justify-content: center;
    }

    .logo-conteiner>svg {
        margin-top: 15px;
    }

    .topico-contato {
        display: flex;
        justify-content: space-around;
        color: #F0F5F9;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        padding: 10px;
        gap: 20px;
    }

    .developers {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .midia {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .topico-contato h3 {
        margin-bottom: 15px;
        color: white;
    }

    .copyright {
        color: #828282;
        display: flex;
        justify-content: center;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        padding-bottom: 5px;
        font-size: 12px;
    }

    .comemoracao {
        padding: 5px;
    }

    .comemoracao:hover {
        background-color: #eeeeee;
        border-radius: 5px;
    }

    .sobre-nos {
        padding: 5px;
    }

    /* Erro de hover */
    .sobre-nos:hover {
        background-color: #eeeeee;
        border-radius: 5px;
    }

    #header {
        z-index: 2;
    }
}

@media screen and (min-width: 451px) and (max-width: 800px) {



    /* HEADER  */

    #home-mobile {
        background-color: aliceblue;
        padding: 5px;
        position: absolute;
        font-weight: 1000;
        font-size: 20px;
        border: solid 1px black;
        border-radius: 50%;
    }

    /* FOOTER  */

    .footer-design {
        width: 100vw;
        background-color: #000;
    }

    .logo-conteiner {
        display: flex;
        justify-content: center;
    }

    .logo-conteiner>svg {
        margin-top: 15px;
    }

    .topico-contato {
        display: flex;
        justify-content: space-around;
        color: #F0F5F9;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        padding: 10px;
        gap: 20px;
    }

    .developers {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .midia {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .topico-contato h3 {
        margin-bottom: 15px;
        color: white;
    }

    .copyright {
        color: #828282;
        display: flex;
        justify-content: center;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        padding-bottom: 5px;
    }

    .comemoracao {
        padding: 5px;
    }

    .comemoracao:hover {
        background-color: #eeeeee;
        border-radius: 5px;
    }

    .sobre-nos {
        padding: 5px;
    }

    /* Erro de hover */
    .sobre-nos:hover {
        background-color: #eeeeee;
        border-radius: 5px;
    }

    #header {
        z-index: 2;
    }
}

@media screen and (min-width: 801px) and (max-width: 1100px) {



    /* HEADER  */

    #home-mobile {
        background-color: aliceblue;
        padding: 5px;
        position: absolute;
        font-weight: 1000;
        font-size: 20px;
        border: solid 1px black;
        border-radius: 50%;
    }

    /* FOOTER  */
    .footer-design {
        width: 100vw;
        background-color: #000;
    }

    .logo-conteiner {
        display: flex;
        justify-content: center;
    }

    .logo-conteiner>svg {
        margin-top: 15px;
    }

    .topico-contato {
        display: flex;
        justify-content: space-around;
        color: #F0F5F9;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        padding: 10px;
        gap: 20px;
    }

    .developers {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .midia {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .topico-contato h3 {
        margin-bottom: 15px;
        color: white;
    }

    .copyright {
        color: #828282;
        display: flex;
        justify-content: center;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        padding-bottom: 5px;
    }

    .comemoracao {
        padding: 5px;
    }

    .comemoracao:hover {
        background-color: #eeeeee;
        border-radius: 5px;
    }

    .sobre-nos {
        padding: 5px;
    }

    /* Erro de hover */
    .sobre-nos:hover {
        background-color: #eeeeee;
        border-radius: 5px;
    }

    #header {
        z-index: 2;
    }
}