@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
}

h1 {
    font-family: "DM Sans", sans-serif;
    font-size: 2.4rem;
}

main {
    height: 69vh;
}

.login {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    margin-top: 2rem;
    flex-direction: column;
    align-items: center;
    display: flex;
    width: 30%;
    height: 69vh;
}

.botoes {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.botoes button {
    font-weight: 600;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    width: 20rem;
    height: 2.4rem;
}

.elementos {
    display: flex;
    flex-direction: column;
}

a{
    font-size: 14px;
    color: #000;
    text-align: center;
}

span {
    margin: 2rem;
}

.btnLogin {
    color: #fff;
    background-color: #3E6AE1;
    margin-bottom: 2rem;
}

input {
    margin: 8px 0 0 0;
    border: none;
    background-color: #F4F4F4;
    height: 2.4rem;
}

input:focus {
   border: 1px solid #5c5e62;
}

label {
    color: #5c5e62;
}