
@font-face {
    font-family: NeueHaas;
    src: url(/src/fonts/NeueHaasDisplayMediu.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}
    ::-webkit-scrollbar-track{
        background-color: transparent;
    }
    
    ::-webkit-scrollbar-thumb{
        background-color: rgba(0, 0, 0, 0.5); 
        border-radius: 10px 
    }
    
    ::-webkit-scrollbar{
        width: 8px;
    }


/* <===========HEADER============> */

.menu-navegacao>ul {
    display: inline-flex;
    gap: 5rem;
    font-weight: 100;
}

.menu-navegacao {
    z-index: 1;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    top: 1rem;
}

.menu-navegacao a {
    text-decoration: none;
    height: 100%;
    display: inline-flex;
    align-items: center;
    color: #000000;
    font-family: NeueHaas, sans-serif;
    font-size: 1rem;
}
 
.icones-menu button {
    border: none;
    background: none;
}
 
.icones-menu {
    display: inline-flex;
    gap: 10px;
}
 
.logo-menu {
    display: flex;
    align-items: center;
}

.nome-mustang {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-menu a svg {
    width: 100px;
}

.nome-mustang img {
    width: 100px;
}

header {
    z-index: 2;
}

/* <=================SESSÃO HOME E VÍDEO===================> */

#home {
    height: 91vh;
}

#home img{
    top: 0;
    left: 0;
    position: absolute;
    object-fit: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}

.geracao{
    width: 100%;
    height: 100vh;
    position: relative;
}

.geracao img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: 50% 50%;
}

.video-home {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: 50% 50%;
}

/* <==============TÍTULO E BOTÕES DAS SESSÕES==============> */

.ancoraTexto {
    position: absolute;
    top: 15%; /* Centraliza verticalmente */
    left: 50%; /* Centraliza horizontalmente */
    transform: translate(-50%, -50%); /*Move a div de volta 50% do seu próprio tamanho em ambas as direções*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* font-size: 1rem; */
}

h2,
h3 {
    font-family: NeueHaas;
}

.ancoraTexto h2{
    font-size: 2rem;
}

.ancoraTexto h3{
    margin-top: 20px;
    font-size: 1rem;
}

.btGeracao{
    position: absolute;
    top: 80%; /* Centraliza verticalmente */
    left: 50%; /* Centraliza horizontalmente */
    transform: translate(-50%, -50%); /*Move a div de volta 50% do seu próprio tamanho em ambas as direções*/
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.btDetalhes{
    cursor: pointer;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    background-color: #F4F4F4;
    color: #393C41;
    height: 2.5rem;
    width: 17rem;
    font-family: NeueHaas, sans-serif;
    font-weight: 100;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btComprar{
    cursor: pointer;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    background-color: #171a20;
    color: #F4F4F4;
    height: 2.5rem;
    width: 17rem;
    font-family: NeueHaas, sans-serif;
    font-weight: 100;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}



/* <===============ANIMAÇÃO DROPDOWN=====+========> */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content .car-item {
    padding: 12px 16px;
    cursor: pointer;
    transition: transform 0.3s, filter 0.3s;
}

.dropdown-content .car-item:hover {
    background-color: #ffffff30;
}

.dropdown-content .car-item img {
    width: 100px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.dropdown-content .car-item h3 {
    text-align: center;
}

.dropdown-content .car-item.active {
    transform: scale(1.2);
    z-index: 2;
}

.dropdown-content .car-item.blur {
    filter: blur(1px);
}

.show {
    display: block;
}

/* <===============BOTÃO SUPORTE=====+========> */
.btn-suporte {
    margin-right: 10px;
    margin-bottom: 5px;
    position: fixed;
    bottom: 0;
    right: 0;
    border: none;
    background: none;
}

/* <=================FOOTER===================> */

.footer-design{
    background-color: #1E2022;
 
}

.logo-conteiner {
    display: flex;
    justify-content: center;
}

.logo-conteiner>svg{
    margin-top: 40px;
}

.logo-conteiner>svg{
    margin-top: 40px;
}

.topico-contato {
    justify-content: space-around;
    display: flex;
    color:#F0F5F9;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 10px;
    gap: 20rem;
}

.developers{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.midia{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.topico-contato h3{
    margin-bottom: 15px;
    color: white;
}

.copyright{
    color: #828282;
    display: flex;
    justify-content: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-bottom: 1rem;
}

.comemoracao{
    padding: 5px;
}

.comemoracao:hover{
    background-color:#eeeeee;
    border-radius: 5px;      
}

.sobre-nos{
    padding: 5px; 
}

.sobre-nos:hover{
    background-color:#eeeeee;
    border-radius: 5px;
}

#header{
    z-index: 2;
}