* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* <=================HEADER===================> */

body {
    min-height: 100vh;
}



.menu-navegacao>ul {
    display: flex;
    gap: 100px;
}


.menu-navegacao {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url(src\img\img-header.png)
}

.menu-navegacao a {
    text-decoration: none;
    height: 100%;
    display: inline-flex;
    align-items: center;
    color: #000000;
    font-family: "DM sans", sans-serif;
    font-size: 1rem;
    font-weight: 540;
}

.icones-menu button {
    border: none;
    background: none;
}

.icones-menu {
    display: inline-flex;
    gap: 10px;
}

.logo-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



/* <=================FOOTER===================> */

.logo-conteiner {
    display: flex;
    justify-content: center;
}

.topico-contato {
    display: flex;
    gap: 3rem;
}

a{
    text-decoration: none;
}   
/* .svg-social {
    display: flex;
} */
